@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400;1,700&family=Oswald:wght@400;500;600;700&display=swap");

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Lato", sans-serif;
  color: #202020;
  background-color: #fbfbfb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.disableIndicator {
  display: none;
}

.progress-control {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 12px;
  margin: 0 128px;
}

.progress-control-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.progress-control-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.progress-control div img {
  width: 15px;
  margin-left: 6px;
}

.progress-control div p {
  color: #666;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

.model-list-container {
  padding: 20px 20px 5px 20px;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

tr,
th {
  text-align: center;
}

label {
  margin: 10px;
}

select {
  text-align: center;
  margin-bottom: 30px;
  margin-left: 10px;
  font-size: 18px;
  height: 30px;
  width: 80px;
  color: #fff;
  background-color: #003aff;
  cursor: pointer;
}

svg {
  border: 1px solid #666;
  margin: 5px;
  vertical-align: top;
}

svg text {
  font-family: sans-serif;
  font-size: 8px;
}

// svg text {
//   display: none;
// }

// svg g:hover text {
//   display: block;
// }
